.top-header {
    border-bottom: 1px solid #64646463;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
    align-items: center;
    font-family: monospace;

}

.left-top-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.links {
    margin-left: 16px;
}

.left-top-header p a {
    text-decoration: underline;
    color: blue;
}

.left-top-header a {
    text-decoration: none;
    color: black;
}

/* right top header */
.right-top-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right-top-header a {
    text-decoration: none;
    color: black;
}

.top-header-dropdown {
    position: relative;
}

.top-header-dropdown:hover {
    cursor: pointer;
}

.t-h-d {
    display: none;
    position: absolute;
    border: 1px solid;
    text-align: center;
    bottom: -73px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    min-width: 150px;
    border: 5px solid rgb(180, 179, 179);
}

.top-header-dropdown2 {
    position: relative;
}

.t-h-d2 {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: white;

}

.t-h-d2 p:hover {
    background-color: #b9b9b9d5;
}


/* down-header */
.down-header {
    display: flex;
    align-items: center;

    padding: 16px 32px;
    gap: 32px;
}

.first-elements {
    display: flex;
    align-items: center;

}

.logo {
    width: 80px;
    height: 50px;
    object-fit: cover;
}

.dropdown {
    margin-left: 8px;
    border: none;
    width: 100px;
    height: 70px;
    background: none;
    text-wrap: wrap;
    color: #444;
    text-align: center;
    font-size: 16px;
}

.midle-element {
    display: flex;
    align-items: stretch;

    width: 700px;

}

.midle-element input {
    flex: 1;
    border: 1px solid;
    border-right: none;
    border-radius: 16px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 12px;
}

.midle-element input:focus {
    outline: none;
}

.midle-element select {
    border: 1px solid black;
    background: none;
    border-left: 1px solid #444444c4;
    padding: 4px 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.praimy-btn {
    padding: 12px 54px;
    border-radius: 16px;
    margin-right: 16px;
    border: none;
    color: white;
    font-size: 1.2rem;
    background-color: lab(36.88% 68.6 -100.2);
}

.last-element a {
    color: #555;
    text-decoration: none;
}

/* last header  */
.last-header {
    color: #444;
    border-top: 1px solid #64646463;
    padding: 16px 32px;
    text-align: center;
}

.last-header a {
    color: #444;
    text-decoration: none;
    margin-left: 16px;
}

.last-header a:hover {
    text-decoration: underline;
    color: blue;
}